# Ignore all files
*

# License and environment files
!LICENSE
!Makefile
!Pipfile
!Pipfile.lock
!README.md
!.gitignore
!.travis

# Program files
!gpgopt.py
!scmail.py
!app.py
!cli.py

# Testing files
!test_app.py
