# Ignore all files
*

# License and environment files
!LICENSE
!Makefile
!Pipfile
!Pipfile.lock
!README.md
!.gitignore
!requirements.txt

# Program files
!tests
!tests/*.py
!tests/pytest.ini
!scmailclient
!scmailclient/*.py

